 .u-section-1 {
  min-height: 811px;
}

.u-section-1 .u-group-1 {
  min-height: 74px;
  width: 1529px;
  height: auto;
  margin: 0 calc(((100% - 1140px) / 2) + -339px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 14px 290px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 33px auto 60px calc(((100% - 1140px) / 2) + -7px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 481px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  margin: 16px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 39px auto 0;
  padding: 9px 35px 10px 34px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  margin: 21px auto 0;
  padding: 9px 38px 10px 37px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  margin: 20px auto 0;
  padding: 9px 51px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 481px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  margin: 16px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  margin: 34px auto 0;
  padding: 9px 35px 10px 34px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  margin: 21px auto 0;
  padding: 9px 38px 10px 37px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  margin: 20px auto 0;
  padding: 9px 51px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 481px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 900;
  margin: 16px 0 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  margin: 32px auto 0;
  padding: 9px 35px 10px 34px;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  margin: 21px auto 0;
  padding: 9px 35px 10px 34px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 740px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-btn-1 {
    width: 72px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 605px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}