.tile-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  /* padding: 0 20px; */
}

.tile {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tile-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tile-value {
  font-size: 24px;
}
